
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
  background: #f8fafc;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.counters {
  font-size: 0.75rem;

  strong {
    display: block;
    font-size: 2em; // 0.75rem x 2 (its parent (.counters) 0.75rem)
  }

  .vote, .answer {
    width: 3.75rem;
    height: 3.75rem;
  }

  .status {
    &.unanswered { // class="status unanswered" phải cùng lúc 2 cái
      border: none;
    }

    &.answered {
      border: 1px solid $color-green;
      color: $color-green;
    }

    &.answered-accepted {
      background: $green;
      color: $color-white;
    }
  }
}

.vote-controls {
  min-width: 60px;
  margin-right: 30px;
  text-align: center;
  color: $gray-700 !important;

  span, a {
    display: block;
  }

  span {
    &.votes-count { // tương đương: .vote-controls span.votes-count
      font-size: 25px;
    }
    &.favorites-count {
      font-size: 12px;
    }
  }

  a {
    cursor: pointer;
    color: $gray-600;

    &.off, &.off:hover {
      color: $gray-500;
    }

    &.favorite {
      &.favorited, &.favorited:hover {
        color: $indigo;
      }
    }

    &.vote-accepted {
      color: $green;
    }
  }

}

.post {
  padding: 20px 0;
  &:not(:last-child) {
    border-bottom: 1px solid rgba($black, 0.1);
  }
}

[v-cloak] { // Khi nao load xong vue instance, cai nay tu mat! Do phai thay qua trinh load tu tu cua no!
  display: none;
}

// Chữ 'fade' phải match với name của [<transition name="fade" mode="out-in">] ở spa.blade.php
.fade-enter-active,
.fade-leave-active {
  transition: opacity .3s linear;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}